package-lock.json
node_modules/.bin/detect-libc
node_modules/.bin/prebuild-install
node_modules/.bin/rc
node_modules/.bin/semver
node_modules/@serialport/binding-abstract/CHANGELOG.md
node_modules/@serialport/binding-abstract/LICENSE
node_modules/@serialport/binding-abstract/package.json
node_modules/@serialport/binding-abstract/README.md
node_modules/@serialport/binding-abstract/lib/index.js
node_modules/@serialport/binding-mock/CHANGELOG.md
node_modules/@serialport/binding-mock/LICENSE
node_modules/@serialport/binding-mock/package.json
node_modules/@serialport/binding-mock/README.md
node_modules/@serialport/binding-mock/lib/index.js
node_modules/@serialport/binding-mock/lib/legacy.js
node_modules/@serialport/parser-byte-length/CHANGELOG.md
node_modules/@serialport/parser-byte-length/LICENSE
node_modules/@serialport/parser-byte-length/package.json
node_modules/@serialport/parser-byte-length/README.md
node_modules/@serialport/parser-byte-length/lib/index.js
node_modules/@serialport/parser-cctalk/CHANGELOG.md
node_modules/@serialport/parser-cctalk/LICENSE
node_modules/@serialport/parser-cctalk/package.json
node_modules/@serialport/parser-cctalk/README.md
node_modules/@serialport/parser-cctalk/lib/index.js
node_modules/@serialport/parser-delimiter/CHANGELOG.md
node_modules/@serialport/parser-delimiter/LICENSE
node_modules/@serialport/parser-delimiter/package.json
node_modules/@serialport/parser-delimiter/README.md
node_modules/@serialport/parser-delimiter/lib/index.js
node_modules/@serialport/parser-readline/CHANGELOG.md
node_modules/@serialport/parser-readline/LICENSE
node_modules/@serialport/parser-readline/package.json
node_modules/@serialport/parser-readline/README.md
node_modules/@serialport/parser-readline/lib/index.js
node_modules/@serialport/parser-ready/CHANGELOG.md
node_modules/@serialport/parser-ready/LICENSE
node_modules/@serialport/parser-ready/package.json
node_modules/@serialport/parser-ready/README.md
node_modules/@serialport/parser-ready/lib/index.js
node_modules/@serialport/parser-regex/CHANGELOG.md
node_modules/@serialport/parser-regex/LICENSE
node_modules/@serialport/parser-regex/package.json
node_modules/@serialport/parser-regex/README.md
node_modules/@serialport/parser-regex/lib/index.js
node_modules/@serialport/stream/CHANGELOG.md
node_modules/@serialport/stream/LICENSE
node_modules/@serialport/stream/package.json
node_modules/@serialport/stream/README.md
node_modules/@serialport/stream/lib/index.js
node_modules/ansi-styles/index.js
node_modules/ansi-styles/license
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/ansi-styles/node_modules/color-convert/CHANGELOG.md
node_modules/ansi-styles/node_modules/color-convert/conversions.js
node_modules/ansi-styles/node_modules/color-convert/index.js
node_modules/ansi-styles/node_modules/color-convert/LICENSE
node_modules/ansi-styles/node_modules/color-convert/package.json
node_modules/ansi-styles/node_modules/color-convert/README.md
node_modules/ansi-styles/node_modules/color-convert/route.js
node_modules/browser-serialport/.jshintrc
node_modules/browser-serialport/.npmignore
node_modules/browser-serialport/index.js
node_modules/browser-serialport/LICENSE.md
node_modules/browser-serialport/package.json
node_modules/browser-serialport/README.md
node_modules/browser-serialport/test/parsers.js
node_modules/browser-serialport/test/serialport-basic.js
node_modules/chalk/index.js
node_modules/chalk/license
node_modules/chalk/package.json
node_modules/chalk/readme.md
node_modules/chalk/templates.js
node_modules/color-convert/CHANGELOG.md
node_modules/color-convert/conversions.js
node_modules/color-convert/css-keywords.js
node_modules/color-convert/index.js
node_modules/color-convert/LICENSE
node_modules/color-convert/package.json
node_modules/color-convert/README.md
node_modules/color-convert/route.js
node_modules/color-name/.eslintrc.json
node_modules/color-name/.npmignore
node_modules/color-name/index.js
node_modules/color-name/LICENSE
node_modules/color-name/package.json
node_modules/color-name/README.md
node_modules/color-name/test.js
node_modules/debug/LICENSE
node_modules/debug/package.json
node_modules/debug/README.md
node_modules/debug/src/browser.js
node_modules/debug/src/common.js
node_modules/debug/src/index.js
node_modules/debug/src/node.js
node_modules/escape-string-regexp/index.js
node_modules/escape-string-regexp/license
node_modules/escape-string-regexp/package.json
node_modules/escape-string-regexp/readme.md
node_modules/firmata-io/.tesselignore
node_modules/firmata-io/package.json
node_modules/firmata-io/readme.md
node_modules/firmata-io/lib/encoder7bit.js
node_modules/firmata-io/lib/firmata.js
node_modules/firmata-io/lib/onewireutils.js
node_modules/has-flag/index.js
node_modules/has-flag/license
node_modules/has-flag/package.json
node_modules/has-flag/readme.md
node_modules/johnny-five/.tesselignore
node_modules/johnny-five/package.json
node_modules/johnny-five/README.md
node_modules/johnny-five/lib/accelerometer.js
node_modules/johnny-five/lib/altimeter.js
node_modules/johnny-five/lib/animation.js
node_modules/johnny-five/lib/barometer.js
node_modules/johnny-five/lib/board.js
node_modules/johnny-five/lib/board.options.js
node_modules/johnny-five/lib/board.pins.js
node_modules/johnny-five/lib/button.js
node_modules/johnny-five/lib/color.js
node_modules/johnny-five/lib/compass.js
node_modules/johnny-five/lib/easing.js
node_modules/johnny-five/lib/esc.js
node_modules/johnny-five/lib/evshield.js
node_modules/johnny-five/lib/expander.js
node_modules/johnny-five/lib/fn.js
node_modules/johnny-five/lib/gps.js
node_modules/johnny-five/lib/gyro.js
node_modules/johnny-five/lib/hygrometer.js
node_modules/johnny-five/lib/johnny-five.js
node_modules/johnny-five/lib/joystick.js
node_modules/johnny-five/lib/keypad.js
node_modules/johnny-five/lib/lcd-chars.js
node_modules/johnny-five/lib/lcd.js
node_modules/johnny-five/lib/light.js
node_modules/johnny-five/lib/motion.js
node_modules/johnny-five/lib/motor.js
node_modules/johnny-five/lib/orientation.js
node_modules/johnny-five/lib/piezo.js
node_modules/johnny-five/lib/pin.js
node_modules/johnny-five/lib/proximity.js
node_modules/johnny-five/lib/reflectancearray.js
node_modules/johnny-five/lib/relay.js
node_modules/johnny-five/lib/repl.js
node_modules/johnny-five/lib/sensor.js
node_modules/johnny-five/lib/servo.js
node_modules/johnny-five/lib/shiftregister.js
node_modules/johnny-five/lib/sip.js
node_modules/johnny-five/lib/sleep.js
node_modules/johnny-five/lib/stepper.js
node_modules/johnny-five/lib/switch.js
node_modules/johnny-five/lib/thermometer.js
node_modules/johnny-five/lib/definitions/mpr121.js
node_modules/johnny-five/lib/led/digits.js
node_modules/johnny-five/lib/led/index.js
node_modules/johnny-five/lib/led/led-chars.js
node_modules/johnny-five/lib/led/led.js
node_modules/johnny-five/lib/led/ledcontrol.js
node_modules/johnny-five/lib/led/leds.js
node_modules/johnny-five/lib/led/matrix.js
node_modules/johnny-five/lib/led/rgb.js
node_modules/johnny-five/lib/led/rgbs.js
node_modules/johnny-five/lib/mixins/collection.js
node_modules/johnny-five/lib/mixins/within.js
node_modules/lodash.clonedeep/index.js
node_modules/lodash.clonedeep/LICENSE
node_modules/lodash.clonedeep/package.json
node_modules/lodash.clonedeep/README.md
node_modules/lodash.debounce/index.js
node_modules/lodash.debounce/LICENSE
node_modules/lodash.debounce/package.json
node_modules/lodash.debounce/README.md
node_modules/ms/index.js
node_modules/ms/license.md
node_modules/ms/package.json
node_modules/ms/readme.md
node_modules/nanotimer/.npmignore
node_modules/nanotimer/.travis.yml
node_modules/nanotimer/package.json
node_modules/nanotimer/README.md
node_modules/nanotimer/test-1.js
node_modules/nanotimer/test-kanecko.js
node_modules/nanotimer/lib/nanoTimer.js
node_modules/nanotimer/lib/nanoTimerExp.js
node_modules/nanotimer/test/nanotimer_0_2_6_test_partial.png
node_modules/nanotimer/test/nanotimer_deferred.png
node_modules/nanotimer/test/nanotimer_non_deferred.png
node_modules/nanotimer/test/test-nanoTimer.js
node_modules/supports-color/browser.js
node_modules/supports-color/index.js
node_modules/supports-color/license
node_modules/supports-color/package.json
node_modules/supports-color/readme.md
node_modules/temporal/Gruntfile.js
node_modules/temporal/LICENSE-MIT
node_modules/temporal/package.json
node_modules/temporal/README.md
node_modules/temporal/examples/demo.js
node_modules/temporal/examples/queue.js
node_modules/temporal/lib/temporal.js
